$primary-color: #90ee90;
$primary-lighter: lighten($primary-color, 30%);

h1 {
	text-align: center;
}

h2 {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

#test {
	width: 50px;
	height: 50px;
	background-color: $primary-color;
}
#test-lighter {
	width: 50px;
	height: 50px;
	background-color: lighten($primary-color, 5%);
}
#test-evenlighter {
	width: 50px;
	height: 50px;
	background-color: lighten($primary-color, 10%);
}
#test-lightest {
	width: 50px;
	height: 50px;
	background-color: lighten($primary-color, 20%);
}

#tooltip {
	position: absolute;
	/* visibility: hidden; */
	background-color: lightgoldenrodyellow;
	opacity: 0;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0px 10px;
	font-size: 12px;
}
